<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>UV-CDAT Live</title>
<link rel="stylesheet" href="{{STATIC_URL}}css/plot.css" type="text/css" />
<link rel="stylesheet" href="{{STATIC_URL}}css/menu.css" type="text/css" />
  <script type="text/javascript" src="https://www.google.com/jsapi"> </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  
  <script type="text/javascript"
      src="http://maps.google.com/maps/api/js?sensor=false&libraries=drawing"></script>
      
  <script type="text/javascript">
      var drawingManager;
      var selectedShape;
      var colors = ['#1E90FF', '#FF1493', '#32CD32', '#FF8C00', '#4B0082'];
      var selectedColor;
      var colorButtons = {};

      function clearSelection() {
        if (selectedShape) {
          selectedShape.setEditable(false);
          selectedShape = null;
        }
      }

      function setSelection(shape) {
        clearSelection();
        selectedShape = shape;
        shape.setEditable(true);
      }

      function deleteSelectedShape() {
        $('#n_text_input').val('-90');
        $('#s_text_input').val('90');
        $('#e_text_input').val('0');
        $('#w_text_input').val('180');
        if (selectedShape) {
          selectedShape.setMap(null);
          drawingManager.setOptions({
       	   	drawingControl: true
       	  });
        }
      }

      function initialize() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 0,
          center: new google.maps.LatLng(-25, 45),
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          disableDefaultUI: true,
          zoomControl: true
        });

        var polyOptions = {
          strokeWeight: 0,
          fillOpacity: 0.45,
          editable: true
        };
        // Creates a drawing manager attached to the map that allows the user to draw
        // markers, lines, and shapes.
        drawingManager = new google.maps.drawing.DrawingManager({
        	drawingControl: true,
    	    drawingControlOptions: {
    	      position: google.maps.ControlPosition.TOP_LEFT,
    	      drawingModes: [
    	        google.maps.drawing.OverlayType.RECTANGLE
    	      ]
    	    },
          	rectangleOptions: {
  	        	fillColor: '#0000FF',
  	        	fillOpacity: 0.3,
  	        	strokeWeight: 5,
  	        	clickable: false,
  	        	draggable:true,
  	        	zIndex: 1,
  	        	editable: true
  	      	},
          	map: map
        });

        google.maps.event.addListener(drawingManager, 'overlaycomplete', function(e) {
            if (e.type != google.maps.drawing.OverlayType.MARKER) {
            // Switch back to non-drawing mode after drawing a shape.
            drawingManager.setDrawingMode(null);
            drawingManager.setOptions({
                drawingControl: false
              });
            var bounds=e.overlay.getBounds();
			var ne = bounds.getNorthEast();
			var sw = bounds.getSouthWest();
			south=ne.lat();
			north=sw.lat();
			west=ne.lng();
                        east=sw.lng();
                        north_num=parseFloat(north).toFixed(0);
                        north_str=north_num.toString();
                        south_num=parseFloat(south).toFixed(0);
                        south_str=south_num.toString();
                        east_num=parseFloat(east).toFixed(0);
                        east_str=east_num.toString();
                        west_num=parseFloat(west).toFixed(0);
                        west_str=west_num.toString();
                        $('#n_text_input').val(north_str);
                        $('#s_text_input').val(south_str);
                        $('#e_text_input').val(east_str);
                        $('#w_text_input').val(west_str);
            // Add an event listener that selects the newly-drawn shape when the user
            // mouses down on it.
            var newShape = e.overlay;
            newShape.type = e.type;
            google.maps.event.addListener(newShape, 'click', function() {
              setSelection(newShape);
            });
            setSelection(newShape);
          }
        });

        // Clear the current selection when the drawing mode is changed, or when the
        // map is clicked.
        google.maps.event.addListener(drawingManager, 'drawingmode_changed', clearSelection);
        google.maps.event.addListener(map, 'click', clearSelection);
        google.maps.event.addDomListener(document.getElementById('delete-button'), 'click', deleteSelectedShape);
        
      }
      google.maps.event.addDomListener(window, 'load', initialize);
</script>
  
<script type="text/javascript">
    function toggle(tag_id)
    {
        a=document.getElementById('dataset_a'+tag_id);
        ul=document.getElementById('dataset_ul'+tag_id);
        if (ul.style.display=='block')
        {
            ul.style.display='none';
            a.innerHTML='<img src="{{STATIC_URL}}img/folder_blue_open.png" />';
        }
        else
        {
            ul.style.display='block';
            a.innerHTML='<img src="{{STATIC_URL}}img/folder_blue.png"/>';
        }
    }

    function import_var(tag_id)
    {
        var values= $('.'+tag_id+':checked').map(function(){ return this.value;}).get();
        for (var i=0; i<values.length;i++)
        {
            var myvar = values[i];
            var myfileid=tag_id;
            var new_element="<tr id=tr_"+myfileid+"_"+myvar+"><td><input id=cb_"+myfileid+"_" + myvar + " type=checkbox class=variables><input class=var_textbox type=hidden id=input_"+ myfileid + "_"+myvar +" value=" + myvar+"><label for=cb_"+myfileid+"_"+myvar+" id=cbinp_"+ myfileid+"_"+myvar +" class=draggable>"+myvar+"</label></td></tr>";
            $(new_element).appendTo($("#var_table"));
        }
        $('.draggable').draggable({
            revert: true,
            help: "clone",
            cursor: "crosshair",
            cursorAt: {left: 5},
        });
        $(".var_textbox").keypress(function(e) {
            if (e.which==13)
            {
                inputId=($(this).prop('id'));
                suffix=inputId.substring(5);
                checkboxId="cb"+suffix;
                $("#"+checkboxId).prop('checked',false);
                $(this).prop('type','hidden');
                inputValue=$(this).val();
                labelId="cbinp"+suffix;
                $("#"+labelId).html(inputValue); 
            }
        });

    }

    function downloadFile(filename, class_id){
        var values= $('.'+class_id+':checked').map(function(){ return this.value;}).get();
        url='http://emily.llnl.gov:8000/download?fnm='+filename+'&varlist[]='+values;
        window.location=url;
    }

    function editSelectedVariables() {
        var ids= $('.variables:checked').map(function(){ return this.id;}).get();
        for (var i=0; i<ids.length;i++)
        {
            var new_id = "input"+ids[i].substring(2);
            my_element=document.getElementById(new_id);
            my_element.setAttribute('type','text');
            var label_id="cbinp"+ids[i].substring(2);
            $("#"+label_id).html(""); 
        }
    }
    
    function deleteSelectedVariables() {
        $(".variables").each(function(index,domEle){
            if ($(domEle).prop("checked"))
            {
                elementId=$(domEle).attr('id');
                trId="tr"+elementId.substring(2);
                trElement=document.getElementById(trId);
                $(trElement).empty();
            }
        });
    }

    function checkAllVariables() {
        $(".variables").each(function (index,domEle) {
            if (!($(domEle).prop("checked")))
            {
                $(domEle).prop('checked',true);           
            }
        });
    }
    
    function resetVariables() {
        $(".variables").each(function(index,domEle){
            if ($(domEle).prop("checked"))
            {
                $(domEle).prop('checked',false);           
                elementId=$(domEle).attr('id');
                inputId="input"+elementId.substring(2);
                inputElement=document.getElementById(inputId);
                $(inputElement).prop('type','hidden');
                inputValue=$(inputElement).val();
                labelId="cbinp"+elementId.substring(2);
                $("#"+labelId).html(inputValue); 
            }
        });
    }

</script>
<script> 
$(document).ready(function(){
    $(".calc_button").click(function() {
        var ids= $('.variables:checked').map(function(){ return this.id;}).get();
        var new_id = "input"+ids[0].substring(2);
        my_element=document.getElementById(new_id);
        var myvariable=$(my_element).val();
        var myid=$(this).attr('id');
        var cmd='';
        if (myid=='multiply')
        {
            var cmd=myvariable+"*";
        }
        $('#calc_command').val(cmd);
    });

    $("#calc_command").keypress(function(e) {
        if (e.which==13)
        {
            var ids= $('.variables:checked').map(function(){ return this.id;}).get();
            var new_id = "input"+ids[0].substring(2);
            my_element=document.getElementById(new_id);
            var myvariable=$(my_element).val();
            var myfiletokens = new_id.split('_');
            var myfileid = myfiletokens[1];
            var myfile = document.getElementById(myfileid).innerHTML;
            var myvar =$('#array_name').val();
            var cmd=$(this).val();
            $.ajax({url:'http://emily.llnl.gov:8000/calculate',
                data:{"myfile":myfile,"myvar":myvariable,"mynewvar":myvar,"cmd":cmd}, 
                type:'GET',
                datatype:'json', 
                success:function(data){
                    outfile=data["outfile"];
                    myfileid=data["myfileid"];
                    var new_element="<tr id=tr_"+myfileid+"_"+myvar+"><td><input id=cb_"+myfileid+"_" + myvar + " type=checkbox class=variables><input class=var_textbox type=hidden id=input_"+ myfileid + "_"+myvar +" value=" + myvar+"><label for=cb_"+myfileid+"_"+myvar+" id=cbinp_"+ myfileid+"_"+myvar +" class=draggable>"+myvar+"</label><a id="+myfileid+" style=display:none>"+outfile+"</a></td></tr>";
                    $(new_element).appendTo($("#var_table"));
                    $('.draggable').draggable({
                        revert: true,
                        help: "clone",
                        cursor: "crosshair",
                        cursorAt: {left: 5},
                    });
                    $(".var_textbox").keypress(function(e1) {
                        if (e1.which==13)
                        {
                            inputId=($(this).prop('id'));
                            suffix=inputId.substring(5);
                            checkboxId="cb"+suffix;
                            $("#"+checkboxId).prop('checked',false);
                            $(this).prop('type','hidden');
                            inputValue=$(this).val();
                            labelId="cbinp"+suffix;
                            $("#"+labelId).html(inputValue); 
                        }
                    });
                    },
                error: function(){alert('ERROR: unable to process your CDAT command');}
            });
        }
    });


    $('#map_icon').click( function() {
        gmap=document.getElementById('map');
        
        if (gmap.style.display=='none')
        {
            gmap.style.display='block';
        }
        else
        {
            gmap.style.display='none';
        }
        var center = map.getCenter();
        google.maps.event.trigger(map,'resize');
        map.setCenter(center);
    });
    $(".draggable").draggable({
        revert: true,
        help: "clone",
        cursor: "crosshair",
        cursorAt: {left: 5},
    });
    $(".droppable").droppable({
        zIndex:2,
        drop: function (event,ui){
            var draggableId=ui.draggable.attr("id");
            var droppableId=$(this).attr("id");
            $(this).empty();
            var n = document.getElementById("n_text_input").value;
            var s = document.getElementById("s_text_input").value;
            var e = document.getElementById("e_text_input").value;
            var w = document.getElementById("w_text_input").value;
            var plot_type_selector = document.getElementById("plot_type");
            var plot_type=document.getElementById("plot_type_input").value;
            var myfiletokens = draggableId.split('_');
            var myfileid = myfiletokens[1];
            var myfile = document.getElementById(myfileid).innerHTML;
            var png="";
            var myvar=ui.draggable.text();
            if (draggableId.substring(0,5)=="label")
            {
                var new_element="<tr id=tr_"+myfileid+"_"+myvar+"><td><input id=cb_"+myfileid+"_" + myvar + " type=checkbox class=variables><input class=var_textbox type=hidden id=input_"+ myfileid + "_"+myvar +" value=" + myvar+"><label for=cb_"+myfileid+"_"+myvar+" id=cbinp_"+ myfileid+"_"+myvar +" class=draggable>"+myvar+"</label></td></tr>";
                $(new_element).appendTo($("#var_table"));
                $('.draggable').draggable({
                    revert: true,
                    help: "clone",
                    cursor: "crosshair",
                    cursorAt: {left: 5},
                });
                $(".var_textbox").keypress(function(e) {
                    if (e.which==13)
                    {
                        inputId=($(this).prop('id'));
                        suffix=inputId.substring(5);
                        checkboxId="cb"+suffix;
                        $("#"+checkboxId).prop('checked',false);
                        $(this).prop('type','hidden');
                        inputValue=$(this).val();
                        labelId="cbinp"+suffix;
                        $("#"+labelId).html(inputValue); 
                    }
                });
            }

            $.ajax({url:'http://emily.llnl.gov:8000/plot/boxfill',
                data:{"n":n,"s":s,"e":e,"w":w,"fnm":myfile,"var":myvar}, 
                type:'GET',
                datatype:'json', 
                success:function(data){
                    png=data["png"];
                    event.target.innerHTML='<img src='+png+' style="height:500px;width:500px;"/>';
                    },
                error: function(){alert('ERROR: unable to generate plot.');}
            });
        }
    });


	
    $("#flip2").click(function(){
	$("#dataset_div").slideToggle("slow");
	});
    $("#calc").click(function(){
	$("#calculator").slideToggle("slow");
	});
   $("#row").change(function() {
        var select_tag = $("#row option:selected");
        var selected_val=select_tag.val();
        var col_tag=$("#col option:selected");
        var col = col_tag.val();
        if (selected_val == '1')
        {
            if ($("#plot_row2").length != 0)
            {
                $("#plot_row2").remove();
            }
            if (col=='1')
            {
                $("#plot_1_1").width(850).height(800);
            }
            else if (col=='2')
            {
                $("#plot_1_1").width(425).height(800);
                $("#plot_1_2").width(425).height(800);
            }
        }
        else if (selected_val == '2')
        {
    	    if ($("#plot_row2").length != 0)
            {
                $("#plot_row2").remove();
            }
            if (col == '1')
            {
                $("#plot_row1").after("<tr id=plot_row2><td id=plot_2_1 class=\"droppable\"></td></tr>");
                $("#plot_1_1").width(850).height(400);
                $("#plot_2_1").width(850).height(400);
            }
            else if (col == '2')
            {
                $("#plot_row1").after("<tr id=plot_row2><td id=plot_2_1 class=\"droppable\"></td><td id=plot_2_2 class=\"droppable\"></td></tr>");
                $("#plot_1_2").width(425).height(400);
                $("#plot_2_2").width(425).height(400);
                $("#plot_2_1").width(425).height(400);
                $("#plot_1_1").width(425).height(400);
            }

        }
    	  
   });
   $("#col").change(function() {
        var select_tag = $("#col option:selected");
        var selected_val=select_tag.val();
        var row_tag=$("#row option:selected");
        var row = row_tag.val();
        if (selected_val == '1')
        {
            if ($("#plot_1_2").length != 0)
            {
                $("#plot_1_2").remove();
            }
            if ($("#plot_2_2").length != 0)
            {
                $("#plot_2_2").remove();
            }
            if ($("#plot_2_1").length != 0)
            {
                $("#plot_2_1").width(850);
            }
            if ($("#plot_1_1").length != 0)
            {
                $("#plot_1_1").width(850);
            }
        }
        else if (selected_val == '2')
        {
            if (row == '1')
            {
                $("#plot_1_1").after("<td id=plot_1_2 class=\"droppable\"></td>");
                $("#plot_1_2").width(425).height(800);
                $("#plot_1_1").width(425).height(800);
            }
            else if (row == '2')
            {
                $("#plot_1_1").after("<td id=plot_1_2 class=\"droppable\"></td>");
                $("#plot_2_1").after("<td id=plot_2_2 class=\"droppable\"></td>");
                $("#plot_1_2").width(425).height(400);
                $("#plot_2_2").width(425).height(400);
                $("#plot_2_1").width(425).height(400);
                $("#plot_1_1").width(425).height(400);
            }
        }
   });
});
</script>
</head>
<body>
    <div id=top_banner><h1>UV-CDAT Live</h1>
</div>
<div id=top_link>
    <text>Welcome, {{user}} | </text>

    <a href="/logout/">Logout</a>
</div>

<div id=content>

    <div id=left1>
        <div id=dataset_label>Dataset</div>
        <div id=dataset_div>
            <table>
                {% for myfile in dataset %}
                <tr>
                    <td>
                        <a id=dataset_a{{myfile.id}} href="javascript:toggle('{{myfile.id}}');"><img src='{{STATIC_URL}}img/folder_blue_open.png'/></a>
                        <a id=dataset_import{{myfile.id}} href="javascript:import_var('{{myfile.id}}')"><img src='{{STATIC_URL}}img/save.png' width=15px/></a>
                    </td>
                    <td style="word-break: break-all">
                        <a id={{myfile.id}} href="javascript:downloadFile('{{myfile.file}}','{{myfile.id}}')">{{myfile.file}}</a>
                        <ul id=dataset_ul{{myfile.id}} style="display:none">
                            {% for myvar in myfile.var %}
                            <li id={{myvar}} >
                                <input id={{myvar}} type=checkbox value={{myvar}} class={{myfile.id}}>
                                <label for={{myvar}} id=label_{{myfile.id}}_{{myvar}} class="draggable">{{myvar}}</label>
                            </li> 
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div id=right>
        <div id=plot_header>
        <table>
              <tr>
                  <td>
                      Plot Display Options:
                    <label id=input_label>Row<label>
                    <select id="row">
                    <option value="1">1</option>
                    <option value="2" selected>2</option>
                    </select>
                    <label id=input_label>Col</label>
                    <select id="col">
                    <option value="1">1</option>
                    <option value="2" selected>2</option>
                    </select>
                </td>
            </tr>
        </table>
        </div>
        <table id=plot_panel width="100%">
            <tr id=plot_row1>
                <td id=plot_1_1 class="droppable"></td> 
                <td id=plot_1_2 class="droppable"></td>
            </tr>
            <tr id=plot_row2>
                <td id=plot_2_1 class="droppable"></td>
                <td id=plot_2_2 class="droppable"></td>
            </tr>
        </table>
    </div>

  </div>
    <div id=left2>
        <div id=var_panel_label>
            <img class=var_icon src={{STATIC_URL}}img/delete.png onclick="deleteSelectedVariables()"/>
            <img class=var_icon src={{STATIC_URL}}img/checked.png onclick="checkAllVariables()"/>
            <img class=var_icon src={{STATIC_URL}}img/edit.png onclick="editSelectedVariables()"/>
            <img class=var_icon src={{STATIC_URL}}img/file_save.png/>
            <img class=var_icon src={{STATIC_URL}}img/preferences.png onclick="resetVariables()"/>
        </div>
        <div id=coord_div>
            <img id=map_icon src="{{STATIC_URL}}img/map-icon.png" />
            <label id="input_label">N:</label>
            <input id="n_text_input" type="text" value="-90">
            <label id="input_label">S:</label>
            <input id="s_text_input" type="text" value="90">
            <label id="input_label">E:</label>
            <input id="e_text_input" type="text" value="0">
            <label id="input_label">W:</label>
            <input id="w_text_input" type="text" value="180">
            <button id="delete-button">Reset</button>

        </div>
        <div id="map"  style=" height: 200px; width: 100%;display: none"></div>
        <div id=plot_option>
            <span id="plot_type_selection">Plot Type </text>
            <input id="plot_type_input" type="text" value="boxfill">
        </div>
        <div id="var_panel">
            <table id="var_table">
            </table>
        </div>
        <div id="calculator">
            <table id="calc_table1">
                <tr><td colspan=6><input type=text id=array_name placeholder="Result Array Name"/></td></tr>
                <tr><td colspan=6><input type=text id=calc_command placeholder="Enter a CDAT command"/></td></tr>
                <tr>
                    <td><button class=calc_button id=sin_btn>sin</button></td>
                    <td><button class=calc_button>asin</button></td>
                    <td><button class=calc_button>x^2</button></td>
                    <td><button class=calc_button>ln</button></td>
                    <td><button class=calc_button>x<y</button></td>
                    <td><button class=calc_button>+</button></td>
                </tr>
                <tr>
                    <td><button class=calc_button>cos</button></td>
                    <td><button class=calc_button>acos</button></td>
                    <td><button class=calc_button>sqrt</button></td>
                    <td><button class=calc_button>log10</button></td>
                    <td><button class=calc_button>x>y</button></td>
                    <td><button class=calc_button>-</button></td>
                </tr>
                <tr>
                    <td><button class=calc_button>tan</button></td>
                    <td><button class=calc_button>atan</button></td>
                    <td><button class=calc_button>1/x</button></td>
                    <td><button class=calc_button>exp</button></td>
                    <td><button class=calc_button>x<>y</button></td>
                    <td><button class=calc_button id=multiply>*</button></td>
                </tr>
                <tr>
                    <td><button class=calc_button>abs</button></td>
                    <td><button class=calc_button>std</button></td>
                    <td><button class=calc_button>x^y</button></td>
                    <td><button class=calc_button>10^x</button></td>
                    <td><button class=calc_button>x==y</button></td>
                    <td><button class=calc_button>/</button></td>
                </tr>
            </table>
            <table id="calc_table2">
                <tr>
                    <td><button class=calc_button>Regrid</button></td>
                    <td><button class=calc_button>Mask</button></td>
                    <td><button class=calc_button>Get_Mask</button></td>
                    <td><button class=calc_button>Grower</button></td>
                </tr>
                <tr><td colspan=2><input type=checkbox id=replace_invalid_result checked /><label for=replace_invalid_result>Replace Invalid Results</label></td>
                <td colspan=2><input type=text id=invalid_replacement_value placeholder="Replacement Value"/></td></tr>
            </table>
        </div>
    </div>
</body>
</html>
